body{
 background-color: rgb(235, 235, 225);;

 }
#header1{
   
    height: 100px;
    
}
#heading1{
    text-align: center;   
}
#paragraph1{
    text-align: center;
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#figure-caption{
    text-align: center;
    padding-top: 10px;
}
#section1{
margin: 0px 300px;

}
#section1 ul{
 list-style: none;
  
}
#footer1{
 
}

